.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 1024px) and (max-width: 1600px) {
  .container {
    max-width: 960px!important;
  }
}
.row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1%;
  box-sizing: border-box;
}
.col{
 flex: 1;
}
.col-1{flex: 0 0 6.33333%}
.col-2{flex: 0 0 14.66666%}
.col-3{flex: 0 0 21.99999%}
.col-4{flex: 0 0 31.33333%}
.col-5{flex: 0 0 39.66666%}
.col-6{flex: 0 0 47.99999%}
.col-7{flex: 0 0 56.33333%}
.col-8{flex: 0 0 66.66666%}
.col-9{flex: 0 0 74.99999%}
.col-10{flex: 0 0 83.33333%}
.col-11{flex: 0 0 91.66666%}
.col-12,.col-full{flex: 0 0 100%}

p{
  margin:0;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  line-height: 1.5rem;
}
pre{
  width: 30%;
  white-space: pre-wrap;
  background-color: #dedede;
  color: #2e2e2e;
  font-family: monospace;
  font-size: 1.25rem;
  padding: 1.5%;
  line-height: 1.5rem;
}
pre b{
  font-family: monospace;
  color: #2ea8a1;
}
.vidWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
